/node_modules
/public/build
/public/hot
/public/storage
/public/images
/storage
/storage/docker/mysql
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
*.sublime-project
*.sublime-workspace
.DS_Store
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage
.phpunit.result.cache
