

/*@font-face {
    font-family: "PragmaticaLightC";
    src: url(/build/fonts/PragmaticaLightC/PragmaticaLightC.eot);
    src: url(/build/fonts/PragmaticaLightC/PragmaticaLightC.eot?#iefix)format("embedded-opentype"),
    url(/build/fonts/PragmaticaLightC/PragmaticaLightC.woff) format("woff"),
    url(/build/fonts/PragmaticaLightC/PragmaticaLightC.ttf) format("truetype"),
    url(/build/fonts/PragmaticaLightC/PragmaticaLightC.svg) format("svg");
    font-style: normal;
    font-weight: normal;
}*/

@font-face {
    font-family: "PragmaticaLightCBold";
    src: url(/build/fonts/PragmaticaLightCBold/PragmaticaLightC-Bold.eot);
    src: url(/build/fonts/PragmaticaLightCBold/PragmaticaLightC-Bold.eot?#iefix)format("embedded-opentype"),
    url(/build/fonts/PragmaticaLightCBold/PragmaticaLightC-Bold.woff) format("woff"),
    url(/build/fonts/PragmaticaLightCBold/PragmaticaLightC-Bold.ttf) format("truetype"),
    url(/build/fonts/PragmaticaLightCBold/PragmaticaLightC-Bold.svg) format("svg");
}




