.v--modal-overlay {
    .v--modal {
        background-color: transparent;
        border-radius: 15px;
        border: 6px solid #fff;
      //  max-width: 500px;

        .close {
            right: 10px;
            top: 10px;
        }
    }

    @media only screen and (max-width: 580px) {
        .v--modal {
            border-radius: 15px;
            width: 90vw;
            max-width: 90%;
            margin: 0 auto;
        }
    }
}
